/* Elements */
::-webkit-scrollbar {width:8px; height:8px;} ::-webkit-scrollbar-track {margin:4px;} ::-webkit-scrollbar-thumb {background: #C5C5C5; border-radius:10px;} ::selection {background-color: var(--accent); color: var(--bg);}

a:is(:link,:visited) {text-decoration: none; color: var(--link);}
a:is(:hover,:active,:focus) {text-decoration: underline;}
a:focus-visible {outline: 4px solid var(--main-color); outline-offset: 4px; border-radius: 8px;}

.flex {display: flex; gap: 16px;} .grid {display: grid; gap: 16px;}

.btn {height: 48px; background-color: var(--main-bg); border: none; border-radius: 32px;}
.btn:is(:hover,:active,:focus):not(:disabled) {background-color: var(--accent); color: var(--color);}
.btn:is(:hover,:active,:focus) svg {fill: var(--color);}
.btn:focus-visible {outline: 4px solid var(--main-color); outline-offset: 0;}
.btn:disabled {background-color: var(--color);}

.btn__small {display: grid; place-content: center; width: 48px; height: 48px;}
.btn__large {display: flex; gap: 8px; align-items: center; padding: 16px 32px;}

.btn__icon {
    height: 48px;
    width: 48px;
    background-color: red;
    border: none;
    clip-path:url("#heart-shape");
}

body {padding: 16px; margin: 0; background-color: var(--main-bg); }
.icons {position: absolute;}

/* Header */
.header__title {
    margin: 0;
    font-size: 2.5rem;
}
/* Main */
.section__title {
    font-size: 1.5rem;
}

.btns__item {
    padding: 16px 32px;
    margin-bottom: 32px;
    background-color: var(--bg);
    border-radius: 16px;
}